VUE_APP_API_BASE_URL=http://localhost:3001/api
VUE_APP_MEDIA_BASE_URL=http://localhost:3001/public
VUE_APP_FRONTEND_URL=http://localhost:3000
VUE_APP_URL=http://localhost:3002
VUE_APP_PUBLIC_PATH=/
VUE_APP_TINYMCE=uovrukghnj47yxuw7cvqifxgle8a4bfvk0fgdv658dunj8r9

